{% extends "base.html" %}
{% block title %}Home {% endblock %}

{% block content %}


<section>
<div class="container">
    <div class="card-group">
      {% for row in livre %}
      <div class="col-lg-3 col-md-4">
        <form action="" method="post">
          <div class="box bg-ligth d-flex p-4 flex-column">
              <img src="{{row.link_image}}"  alt="Book"  style="width: 10rem;" >
            <div class="card-body">
              <h5 class="card-title"> {{ row.title }}</h5>
              <h12>
                <i  class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </h12>
              <p class="card-text">
                {{ row.title }}
              </p>
              <h5>
                <span class="price">{{ row.price}}</span>
              </h5>

              <button type="submit" class="btn btn-warning my-3" name="add">Add to Cart<i class="fas fa-shopping-cart"></i></button>
            </div>
          </div>
        </form>
      </div>
      {% endfor %}
    </div>
</div>
</section>

{% endblock %}